JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
APP_SECRET=your_app_secret
DB_URL=mysql://root:@localhost:3306/colorsanddetails
DB_NAME=colorsanddetails
DB_USER=root
DB_PASSWORD=""
REDIS_URL=redis://127.0.0.1:6379
